<div class="flex flex-col">
    <!--  Khám phá các tùy chọn Đa Dạng-->
    <div class="bg-white">
        <div
            class="container mx-auto flex flex-col"
            style="gap: 60px; padding: 60px 0"
        >
            <div class="flex justify-around flex-row-reverse" style="gap: 60px">
                <img
                    ngSrc="assets/image-0.png"
                    priority
                    width="510"
                    height="600"
                    alt="flowers"
                />
                <div
                    class="flex flex-col justify-center items-start gap-6 max-w-screen-sm"
                >
                    <div
                        class="flex flex-col justify-center *:uppercase *:text-5xl *:font-medium"
                    >
                        <div class="uppercase">
                            Đăng ký
                            <span class="uppercase text-primary">
                                hợp tác
                            </span>
                            với chúng tôi
                        </div>
                    </div>
                    <div class="text-xl font-normal leading-6">
                        Nếu bạn từng muốn có một lô hoa hoặc cây tươi được giao
                        đến nhà hoặc văn phòng của bạn hàng tuần, mỗi nửa tháng
                        hoặc hàng tháng, Graceful là lựa chọn hoàn hảo cho bạn.
                        Các gói đăng ký của chúng tôi có hoa và cây được lựa
                        chọn tươi mới và đẹp mắt.
                    </div>
                </div>
            </div>
            <div
                class="mx-auto"
                style="background: #000; width: 720px; height: 1px"
            ></div>
            <div class="text-5xl font-medium uppercase text-center">
                Các gói đăng ký của chúng tôi
            </div>
            <div class="flex flex-row gap-10 justify-center">
                <graceful-florist-image-card
                    title="Gói hàng tuần"
                    imageUrl="assets/image-3.png"
                    description="Nhận hoa và cây tươi mới mỗi tuần để làm mới không gian sống hoặc làm việc của bạn."
                />
                <graceful-florist-image-card
                    title="Gói nửa tháng"
                    imageUrl="assets/image-4.png"
                    description="Giao hoa và cây mỗi hai tuần, hoàn hảo cho những ai muốn có sự thay đổi định kỳ mà không quá thường xuyên."
                />
                <graceful-florist-image-card
                    title="Gói hàng tháng"
                    imageUrl="assets/image-5.png"
                    description="Nhận một lô hoa hoặc cây mới vào mỗi tháng, giúp bạn duy trì không gian xanh mát và đầy sức sống."
                />
            </div>
            <div class="flex flex-row gap-10 justify-center">
                <graceful-florist-image-card
                    title="Gói hoa theo mùa"
                    imageUrl="assets/image-3.png"
                    description="Mang đến cho bạn những bông hoa tươi đẹp nhất theo từng thời điểm trong năm."
                />
                <graceful-florist-image-card
                    title="Gói Lựa chọn của Nhà thiết kế"
                    imageUrl="assets/image-4.png"
                    description="Gói đăng ký Lựa chọn của Nhà thiết kế mang đến cho bạn trải nghiệm độc đáo và sáng tạo với hoa và cây."
                />
                <graceful-florist-image-card
                    title="Gói Hoa Màu Pastel Nhẹ nhàng"
                    imageUrl="assets/image-5.png"
                    description="Mang đến cho bạn sự tinh tế và thanh lịch với những bông hoa có gam màu nhẹ nhàng."
                />
            </div>
        </div>
    </div>

    <!--  TẠI SAO BẠN NÊN DÙNG DỊCH VỤ CỦA CHÚNG TÔI?-->
    <div
        class="flex flex-col gap-10"
        style="padding: 60px 170px; background-color: #f6f2efff"
    >
        <div
            class="container mx-auto flex flex-row justify-around"
            style="gap: 60px"
        >
            <div class="relative">
                <img
                    class="absolute bottom-0 right-0"
                    ngSrc="assets/image-6.png"
                    priority
                    width="520"
                    height="684"
                    alt="flowers"
                />
                <img
                    ngSrc="assets/Frame-427319104.png"
                    priority
                    width="579"
                    height="728"
                    alt="flowers"
                />
            </div>
            <div class="flex flex-col justify-center gap-6 max-w-md">
                <div class="text-5xl font-medium uppercase text-right">
                    BAO GỒM TRONG GÓI ĐĂNG KÝ
                </div>
                <div class="text-2xl text-primary text-right">
                    ĐÓNG GÓI CẨN THẬN
                </div>
                <div class="text-base font-light text-right">
                    Mỗi gói đăng ký Hoa & Cây của chúng tôi đều đi kèm với hoa
                    hoặc cây được sắp xếp đặc biệt trong ngân sách mà bạn chọn.
                    Nếu bạn có bất kỳ yêu cầu cụ thể nào, hãy liên hệ với chúng
                    tôi và chúng tôi sẽ cố gắng hết sức để đáp ứng.
                </div>
            </div>
        </div>
        <div
            class="container mx-auto flex flex-row-reverse justify-around"
            style="gap: 60px"
        >
            <div class="relative">
                <img
                    class="absolute bottom-0 right-0"
                    ngSrc="assets/image-6.png"
                    priority
                    width="520"
                    height="684"
                    alt="flowers"
                />
                <img
                    ngSrc="assets/Frame-427319104.png"
                    priority
                    width="579"
                    height="728"
                    alt="flowers"
                />
            </div>
            <div class="flex flex-col justify-center gap-6 max-w-md">
                <div class="text-2xl text-primary text-left">GREETING CARD</div>
                <div class="text-base font-light text-left">
                    Nếu gói đăng ký của bạn được tặng làm quà, hãy thêm một thẻ
                    chào mừng vào đơn hàng đầu tiên. Điều này sẽ tạo nên sự cá
                    nhân hóa và cho người nhận biết ai là người gửi quà.
                </div>
            </div>
        </div>
    </div>

    <!--  Hoa dành cho gia đình-->
    <div style="padding: 60px 170px">
        <div class="flex flex-col" style="gap: 60px">
            <div class="flex justify-center relative">
                <div class="flex flex-col just items-center gap-4">
                    <div class="uppercase text-5xl font-semibold leading-4">
                        Vận Chuyển & Hủy ĐĂNG KÝ
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <div class="text-primary uppercase">VẬN CHUYỂN</div>
                <br />
                <div class="mt-2.5">
                    Các gói đăng ký hoa và cây của chúng tôi sẽ được giao vào
                    thứ Hai đầu tiên của gói đăng ký của bạn.
                </div>
                <div>Cụ thể:</div>
                <ul class="list-inside">
                    <li class="list-disc">
                        Gói hàng tháng: Hoa và cây sẽ được giao vào thứ Hai đầu
                        tiên của mỗi tháng.
                    </li>
                    <li class="list-disc">
                        Gói nửa tháng: Hoa và cây sẽ được giao theo chu kỳ hai
                        tuần, luôn vào thứ Hai.
                    </li>
                </ul>
                <div class="">
                    Chúng tôi đảm bảo rằng bạn sẽ nhận được những sản phẩm tươi
                    mới nhất
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <div class="text-primary uppercase">HỦY ĐĂNG KÝ</div>
                <div class="mt-2.5">
                    Các gói đăng ký hoa và cây của chúng tôi yêu cầu một khoảng
                    thời gian xử lý trước khi hủy.
                </div>
                <div>Cụ thể:</div>
                <ul class="list-inside">
                    <li class="list-disc">
                        Đối với các gói đăng ký cố định (tuần, hai tuần, hàng
                        tháng), thời gian này đã được tính vào gói.
                    </li>
                    <li class="list-disc">
                        Đối với các đơn hàng hàng tháng, bạn cần thông báo trước
                        45 ngày để việc hủy có hiệu lực.
                    </li>
                </ul>
                <div class="">
                    Nếu bạn có bất kỳ câu hỏi hoặc mối quan tâm nào, vui lòng
                    liên hệ với đại diện dịch vụ khách hàng của chúng tôi!
                </div>
            </div>
        </div>
    </div>
</div>
