<div class="flex flex-col">
    <!--  Dịch vụ Thiết Kế và Tùy Chỉnh-->
    <div
        class="flex justify-between"
        style="background-color: #f6f2efff; padding-left: 170px; gap: 60px"
    >
        <div class="flex flex-col py-16 gap-6">
            <div class="flex flex-col *:uppercase *:text-5xl *:font-medium">
                <div style="line-height: 75px">Dịch vụ</div>
                <div style="line-height: 75px; color: #ff6f91">Thiết Kế và</div>
                <div style="line-height: 75px; color: #ff6f91">Tùy Chỉnh</div>
            </div>
            <div
                style="
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                "
            >
                Thể hiện tình cảm theo cách của bạn
            </div>
            <button
                style="width: 245px; height: 60px"
                mat-flat-button
                color="primary"
            >
                Đi vào khám phá
            </button>
        </div>
        <div>
            <img
                ngSrc="assets/image-container.png"
                priority
                width="828"
                height="485"
                alt="flowers"
            />
        </div>
    </div>

    <div class="flex" style="padding: 60px 0 60px 170px">
        <!--  Khám phá các tùy chọn Đa Dạng-->
        <div class="flex" style="gap: 60px">
            <img
                ngSrc="assets/image-0.png"
                priority
                width="510"
                height="600"
                alt="flowers"
            />
            <div class="flex flex-col justify-center items-start gap-6">
                <div
                    class="flex flex-col justify-center *:uppercase *:text-5xl *:font-medium"
                >
                    <div style="line-height: 48px">Khám phá các tùy chọn</div>
                    <div style="line-height: 48px; color: #ff6f91">Đa Dạng</div>
                </div>
                <div
                    style="
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                    "
                >
                    Thiết kế Bó Hoa Theo Ý Thích của Bạn
                </div>
            </div>
        </div>
    </div>
</div>
