<div class="flex flex-col p-8 gap-8">
    <div class="font-sans text-2xl font-bold">Sản phẩm</div>
    <form [formGroup]="filterFormGroups" class="flex gap-3 justify-start">
        <!-- Ngày -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="date"
            aria-label="Ngày"
        >
            {{ dateTypeFilterLabel }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #date="matMenu" class="!min-w-80">
            <mat-card
                class="min-w-max !shadow-none"
                (click)="$event.stopPropagation()"
            >
                <mat-calendar
                    [selected]="filterFormGroups.get('fromInclusive')?.value"
                    (selectedChange)="onSelectedDateFilterChanged($event)"
                ></mat-calendar>
            </mat-card>
        </mat-menu>
        <!-- Danh mục -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="categoryType"
            aria-label="Danh mục"
        >
            {{ selectedCategory | categoryType: "Danh mục" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #categoryType="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="categoryType">
                @for (categoryType of categories; track categoryType) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary': categoryType === selectedCategory,
                            '!bg-white !border-slate-700':
                                categoryType !== selectedCategory,
                        }"
                        [value]="categoryType"
                        >{{ categoryType | categoryType }}
                    </mat-chip-option>
                }
            </mat-chip-listbox>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="enabled"
            aria-label="Trạng thái"
        >
            {{ enabledFilterLabel | productStatus: "Trạng thái" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #enabled="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="status">
                @for (status of productStatus; track status) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary': status === enabledFilterLabel,
                            '!bg-white !border-slate-700':
                                status !== enabledFilterLabel,
                        }"
                        [value]="status"
                        >{{ status | productStatus }}
                    </mat-chip-option>
                }
            </mat-chip-listbox>
        </mat-menu>
        <button
            class="!rounded-lg !text-primary"
            mat-flat-button
            (click)="resetFilter()"
        >
            Reset Filter
        </button>
        <div class="ml-auto">
            <button
                class="!rounded-lg"
                mat-flat-button
                color="primary"
                (click)="onAddProductClicked()"
            >
                + Thêm Mới Sản Phẩm
            </button>
        </div>
    </form>
    <graceful-florist-table
        #productsTable
        (rowClicked)="openProductDetailModal($event)"
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="['name', 'createdDate', 'enabled', 'price']"
    >
        <ng-template headerTableTemplate="name" let-column>
            Tên Sản Phẩm
        </ng-template>
        <ng-template cellTableTemplate="name" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="createdDate" let-column>
            Ngày thêm
        </ng-template>
        <ng-template cellTableTemplate="createdDate" let-value>
            {{ value | date: "dd/MM/yyyy" }}
        </ng-template>

        <ng-template headerTableTemplate="enabled" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="enabled" let-value>
            {{ getEnabledFilterLabel(value) | productStatus }}
        </ng-template>

        <ng-template headerTableTemplate="price" let-column> Giá</ng-template>
        <ng-template cellTableTemplate="price" let-value>
            {{ value | vndCurrency }}
        </ng-template>
    </graceful-florist-table>
</div>
