<div class="flex flex-col p-8 gap-8">
    <div class="font-sans text-2xl font-bold">Sản phẩm</div>
    <form [formGroup]="filterFormGroups" class="flex gap-3 justify-start">
        <!-- Ngày -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="date"
            aria-label="Ngày"
        >
            {{ dateTypeFilterLabel }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #date="matMenu" class="!min-w-96">
            <mat-radio-group
                formControlName="dateType"
                class="w-full flex justify-between px-4"
            >
                <mat-radio-button value="newest">Gần Nhất</mat-radio-button>
                <mat-radio-button value="oldest">Cũ nhất</mat-radio-button>
                <mat-radio-button
                    value="optional"
                    (click)="$event.stopPropagation()"
                    >Tùy Chọn</mat-radio-button
                >
            </mat-radio-group>
            <ng-container
                *ngIf="filterFormGroups.get('dateType')?.value === 'optional'"
            >
                <mat-card
                    class="min-w-max !shadow-none"
                    (click)="$event.stopPropagation()"
                >
                    <mat-calendar
                        [(selected)]="selectedDateFilter"
                    ></mat-calendar>
                </mat-card>
                <div class="min-w-max flex justify-center">
                    <button
                        class="mx-auto"
                        mat-flat-button
                        color="primary"
                        (click)="onSelectedDateFilterChanged()"
                    >
                        Áp dụng
                    </button>
                </div>
            </ng-container>
        </mat-menu>
        <!-- Danh mục -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="category"
            aria-label="Danh mục"
        >
            Danh mục
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #category="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="status"
            aria-label="Trạng thái"
        >
            {{ statusFilterLabel | productStatus: "Trạng thái" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #status="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="status">
                @for (status of productStatus; track status) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary':
                                status ===
                                this.filterFormGroups.get('status')?.value,
                            '!bg-white !border-slate-700':
                                status !==
                                this.filterFormGroups.get('status')?.value,
                        }"
                        [value]="status"
                        >{{ status | productStatus }}</mat-chip-option
                    >
                }
            </mat-chip-listbox>
        </mat-menu>
        <button
            class="!rounded-lg !text-primary"
            mat-flat-button
            (click)="resetFilter()"
        >
            Reset Filter
        </button>
        <div class="ml-auto">
            <button
                class="!rounded-lg"
                mat-flat-button
                color="primary"
                (click)="onAddProductClicked()"
            >
                + Thêm Mới Sản Phẩm
            </button>
        </div>
    </form>
    <graceful-florist-table
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="[
            'select',
            'name',
            'createdDate',
            'status',
            'price',
        ]"
    >
        <ng-template headerTableTemplate="name" let-column>
            Tên Sản Phẩm
        </ng-template>
        <ng-template cellTableTemplate="name" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="createdDate" let-column>
            Ngày thêm
        </ng-template>
        <ng-template cellTableTemplate="createdDate" let-value>
            {{ value | date: "dd/MM/yyyy" }}
        </ng-template>

        <ng-template headerTableTemplate="status" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="status" let-value>
            {{ value | productStatus }}
        </ng-template>

        <ng-template headerTableTemplate="price" let-column> Giá </ng-template>
        <ng-template cellTableTemplate="price" let-value>
            {{ value | vndCurrency }}
        </ng-template>
    </graceful-florist-table>
</div>
