<div class="text-2xl font-bold font-sans" mat-dialog-title>
    {{ options.title }}
</div>
<mat-dialog-content>
    <form [formGroup]="formGroup" class="flex flex-col gap-4 w-fit">
        <!-- Upload images -->
        <div class="flex flex-col gap-2">
            <ng-container *ngIf="!formGroup.get('mainImage')?.value">
                <mat-error
                    *ngIf="formGroup.get('mainImage')?.errors?.['required']"
                    >Hình ảnh là bắt buộc</mat-error
                >
            </ng-container>
            <ng-container
                *ngIf="!formGroup.get('mainImage')?.value; else mainImage"
            >
                <div
                    class="rounded-lg flex justify-center items-center border border-neutral-500 hover:border-primary hover:cursor-pointer *:hover:text-primary"
                    style="width: 472px; height: 350px"
                    (click)="fileInput.click()"
                >
                    <mat-icon class="">add_photo_alternate</mat-icon>
                    <input
                        #fileInput
                        class="hidden"
                        type="file"
                        accept="image/*"
                        (change)="onMainImageUpload($event)"
                    />
                </div>
            </ng-container>
            <ng-template #mainImage>
                <img
                    alt="product image"
                    [ngSrc]="
                        formGroup.get('mainImage')?.value | imageUrlTransform
                    "
                    class="rounded-lg object-cover"
                    priority
                    width="472"
                    height="350"
                    style="width: 472px; height: 350px"
                />
            </ng-template>
            <div class="flex gap-6 flex-wrap" style="max-width: 472px">
                <ng-container
                    *ngFor="let image of formGroup.get('images')?.value"
                >
                    <img
                        class="rounded-lg"
                        alt="product image"
                        [ngSrc]="image | imageUrlTransform"
                        priority
                        width="100"
                        height="100"
                        style="width: 100px; height: 100px"
                    />
                </ng-container>
                <ng-container *ngIf="formGroup.get('mainImage')?.value">
                    <div
                        class="rounded-lg flex justify-center items-center border border-neutral-500 hover:border-primary hover:cursor-pointer *:hover:text-primary"
                        style="width: 100px; height: 100px"
                        (click)="imageUpload.click()"
                    >
                        <mat-icon class="">add_photo_alternate</mat-icon>
                        <input
                            #imageUpload
                            class="hidden"
                            type="file"
                            accept="image/*"
                            (change)="onImageUpload($event)"
                        />
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- Tên sản phẩm -->
        <mat-form-field
            appearance="fill"
            subscriptSizing="dynamic"
            gracefulFloristErrorMessage
        >
            <mat-label>Tên Sản Phẩm</mat-label>
            <input matInput formControlName="name" />
            <mat-error></mat-error>
        </mat-form-field>
        <!-- Danh mục auto-complete multi-select -->
        <mat-form-field
            appearance="fill"
            subscriptSizing="dynamic"
            gracefulFloristErrorMessage
        >
            <mat-label>Danh mục</mat-label>
            <mat-chip-grid #categories formControlName="categories">
                <mat-chip-row
                    *ngFor="let category of formGroup.get('categories')?.value"
                    (removed)="removeCategory(category)"
                    [value]="category"
                >
                    {{ category.name }}
                    <button
                        matChipRemove
                        [attr.aria-label]="'remove ' + category.name"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <mat-error></mat-error>
            <input
                formControlName="searchCategoryKeyword"
                [matChipInputFor]="categories"
                (matChipInputTokenEnd)="onAddCategory($event)"
                [matAutocomplete]="autoCategories"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            />
            <mat-autocomplete
                #autoCategories="matAutocomplete"
                (optionSelected)="onSelectedCategory($event)"
            >
                <mat-option
                    *ngFor="let category of filteredCategories"
                    [value]="category"
                    >{{ category.name }}</mat-option
                >
            </mat-autocomplete>
        </mat-form-field>
        <!-- Giá tiền -->
        <mat-form-field
            appearance="fill"
            subscriptSizing="dynamic"
            gracefulFloristErrorMessage
        >
            <mat-label>Giá tiền</mat-label>
            <input matInput formControlName="price" />
            <mat-error></mat-error>
        </mat-form-field>
        <!-- Mô tả -->
        <mat-form-field
            class="mx-auto h-44 w-full *:!bg-transparent"
            appearance="fill"
            subscriptSizing="dynamic"
            gracefulFloristErrorMessage
        >
            <mat-label class="!font-sans">Mô tả</mat-label>
            <textarea
                matInput
                class="!font-sans"
                formControlName="description"
                placeholder="Thêm lời nhắn vào thiệp"
                rows="5"
                cols="50"
            ></textarea>
            <mat-error></mat-error>
        </mat-form-field>
        <!-- Thành phần auto-complete multi-select -->
        <mat-form-field
            appearance="fill"
            subscriptSizing="dynamic"
            gracefulFloristErrorMessage
        >
            <mat-label>Thành phần</mat-label>
            <mat-chip-grid #ingredients formControlName="ingredients">
                <mat-chip-row
                    *ngFor="
                        let ingredient of formGroup.get('ingredients')?.value
                    "
                    (removed)="removeIngredient(ingredient)"
                >
                    {{ ingredient }}
                    <button
                        matChipRemove
                        [attr.aria-label]="'remove ' + ingredient"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-grid>
            <mat-error></mat-error>
            <input
                placeholder="New Ingredient..."
                [matChipInputFor]="ingredients"
                (matChipInputTokenEnd)="onAddIngredient($event)"
                [matAutocomplete]="autoIngredients"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            />
            <mat-autocomplete
                #autoIngredients="matAutocomplete"
                (optionSelected)="onSelectedIngredient($event)"
            >
                <mat-option
                    *ngFor="let ingredient of filteredIngredients"
                    [value]="ingredient"
                    >{{ ingredient }}</mat-option
                >
            </mat-autocomplete>
        </mat-form-field>
        <!-- Trạng thái -->
        <div class="flex gap-2 items-center">
            <mat-label class="!font-sans">Trạng thái</mat-label>
            <mat-slide-toggle
                formControlName="enabled"
                [checked]="formGroup.get('enabled')?.value"
            >
                {{ productStatusValue | productStatus }}
            </mat-slide-toggle>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="flex justify-end w-full gap-4">
        <button mat-button (click)="close()">Hủy bỏ</button>
        <button
            [disabled]="formGroup.invalid"
            mat-flat-button
            color="primary"
            (click)="submit()"
        >
            {{ isEditMode ? "Cập Nhật" : "Thêm Mới" }}
        </button>
    </div>
</mat-dialog-actions>
