<div class="container mx-auto flex flex-col pt-5 gap-5">
    <graceful-florist-breadcrumb [breadcrumbs]="breadcrumbs" />
    <graceful-florist-tab-category />
    <div class="flex gap-3.5">
        <div class="w-full bg-gray-50"></div>
        <div class="min-w-fit gap-3.5 flex flex-col">
            <img
                ngSrc="assets/products.png"
                alt="products"
                width="766"
                height="265"
                priority
            />
            <div class="flex justify-between">
                <div class="flex gap-2">
                    <button class="!rounded-lg" mat-flat-button color="primary">
                        Tất Cả
                    </button>
                </div>
                <mat-paginator
                    [length]="results.total"
                    [pageSize]="criteria.page.limit"
                    (page)="onPageChange($event)"
                    [showFirstLastButtons]="false"
                    [hidePageSize]="true"
                    aria-label="Chọn trang"
                >
                </mat-paginator>
            </div>
            <div class="grid grid-cols-3 gap-6">
                @for (product of results.results; track product) {
                    <div class="flex flex-col gap-3 max-w-sm">
                        <img
                            src="{{ product.image_url }}"
                            alt="{{ product.name }}"
                        />
                        <div class="flex flex-col">
                            <div
                                class="font-sans text-xl font-bold overflow-ellipsis leading-normal"
                            >
                                {{ product.name }}
                            </div>
                            <div
                                class="font-sans text-base font-medium overflow-ellipsis leading-normal text-slate-600"
                            >
                                {{ product.price | vndCurrency }}
                            </div>
                        </div>
                    </div>
                }
            </div>
            <ng-template #productSkeletonLoading></ng-template>
            <mat-paginator
                [length]="results.total"
                [pageSize]="criteria.page.limit"
                (page)="onPageChange($event)"
                [showFirstLastButtons]="true"
                [hidePageSize]="true"
                aria-label="Chọn trang"
            >
            </mat-paginator>
        </div>
    </div>
</div>
