<div class="container mx-auto flex flex-col py-5 gap-5">
    <graceful-florist-breadcrumb [breadcrumbs]="breadcrumbs" />
    <form
        [formGroup]="filterFormGroups"
        class="flex flex-col gap-3.5 sm:flex-row"
    >
        <!--   BỘ LỌC TÌM KIẾM   -->
        <div class="w-full flex flex-col gap-3.5 p-4 h-fit bg-white rounded-lg">
            <div class="flex gap-1 py-2">
                <mat-icon>filter_alt</mat-icon>
                <div class="font-sans text-base leading-normal font-bold">
                    BỘ LỌC TÌM KIẾM
                </div>
            </div>
            <mat-divider />
            <div class="flex justify-between items-center pr-3">
                <div class="font-base text-base font-normal leading-normal">
                    Bộ lọc đang chọn
                </div>
                <button
                    class="!text-gray-500"
                    mat-button
                    (click)="resetFilters()"
                >
                    xóa bộ lọc
                    <mat-icon iconPositionEnd>close</mat-icon>
                </button>
            </div>
            <mat-chip-set aria-label="Bộ lọc đang chọn">
                <mat-chip-row
                    class="!rounded-lg !bg-primary"
                    *ngFor="let selected of selectedFilters"
                    (removed)="removeSelectedFilter(selected)"
                    [value]="selected"
                >
                    <div
                        class="font-sans text-white font-bold text-xs leading-normal"
                    >
                        {{ selected.name }}
                    </div>
                    <button
                        class="!text-white"
                        matChipRemove
                        [attr.aria-label]="'remove ' + selected.name"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            </mat-chip-set>
            <mat-divider />
            <mat-accordion
                class="*:!shadow-none"
                displayMode="flat"
                [multi]="true"
            >
                <mat-expansion-panel
                    class="*:!pl-0"
                    (opened)="panelOpenState.set(true)"
                    (closed)="panelOpenState.set(false)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="!flex !gap-1 items-center">
                            <svg-icon src="assets/chu-de.svg" />
                            <div
                                class="font-base text-base font-normal leading-normal"
                            >
                                Hoa theo chủ đề
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-listbox
                        formControlName="selectedCategoryThemes"
                        [multiple]="true"
                    >
                        <mat-chip-option
                            *ngFor="let theme of categoryThemes"
                            [value]="theme"
                            class="!rounded-lg !border"
                            [ngClass]="{
                                '!bg-primary': contain(
                                    'selectedCategoryThemes',
                                    theme
                                ),
                                '!bg-white !border-slate-700': !contain(
                                    'selectedCategoryThemes',
                                    theme
                                ),
                            }"
                        >
                            {{ theme.name }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </mat-expansion-panel>
                <mat-expansion-panel
                    class="*:!pl-0"
                    (opened)="panelOpenState.set(true)"
                    (closed)="panelOpenState.set(false)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="!flex !gap-1 items-center">
                            <svg-icon src="assets/flowers-category.svg" />
                            <div
                                class="font-base text-base font-normal leading-normal"
                            >
                                Loại hoa
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-listbox
                        formControlName="selectedCategoryFlowers"
                        [multiple]="true"
                    >
                        <mat-chip-option
                            *ngFor="let flower of categoryFlowers"
                            [value]="flower"
                            class="!rounded-lg !border"
                            [ngClass]="{
                                '!bg-primary': contain(
                                    'selectedCategoryFlowers',
                                    flower
                                ),
                                '!bg-white !border-slate-700': !contain(
                                    'selectedCategoryFlowers',
                                    flower
                                ),
                            }"
                        >
                            {{ flower.name }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </mat-expansion-panel>
                <mat-expansion-panel
                    class="*:!pl-0"
                    (opened)="panelOpenState.set(true)"
                    (closed)="panelOpenState.set(false)"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title class="!flex !gap-1 items-center">
                            <svg-icon src="assets/flowers-color.svg" />
                            <div
                                class="font-base text-base font-normal leading-normal"
                            >
                                Màu hoa
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-chip-listbox
                        formControlName="selectedCategoryColors"
                        [multiple]="true"
                    >
                        <mat-chip-option
                            *ngFor="let color of categoryColors"
                            [value]="color"
                            class="!rounded-lg !border"
                            [ngClass]="{
                                '!bg-primary': contain(
                                    'selectedCategoryColors',
                                    color
                                ),
                                '!bg-white !border-slate-700': !contain(
                                    'selectedCategoryColors',
                                    color
                                ),
                            }"
                        >
                            {{ color.name }}
                        </mat-chip-option>
                    </mat-chip-listbox>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="min-w-fit gap-3.5 flex flex-col">
            <img
                class="hidden sm:block"
                ngSrc="assets/products.png"
                alt="products"
                width="766"
                height="265"
                priority
            />
            <div
                class="flex flex-col sm:flex-row sm:justify-between sm:items-center"
            >
                <!--       Sorting       -->
                <div class="flex gap-0 sm:gap-2">
                    <button
                        class="!rounded-lg"
                        mat-flat-button
                        [matMenuTriggerFor]="purchases"
                        aria-label="Lượt Mua"
                    >
                        Lượt Mua
                        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #purchases="matMenu">
                        <button
                            mat-menu-item
                            (click)="onSortChange('purchases', 'asc')"
                        >
                            Tăng dần
                        </button>
                        <button
                            mat-menu-item
                            (click)="onSortChange('purchases', 'desc')"
                        >
                            Giảm dần
                        </button>
                    </mat-menu>
                    <button
                        class="!rounded-lg"
                        mat-flat-button
                        [matMenuTriggerFor]="price"
                        aria-label="Giá"
                    >
                        Giá
                        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #price="matMenu">
                        <button
                            mat-menu-item
                            (click)="onSortChange('price', 'asc')"
                        >
                            Tăng dần
                        </button>
                        <button
                            mat-menu-item
                            (click)="onSortChange('price', 'desc')"
                        >
                            Giảm dần
                        </button>
                    </mat-menu>
                    <button
                        class="!rounded-lg"
                        mat-flat-button
                        [matMenuTriggerFor]="modificationDate"
                        aria-label="Ngày Cập Nhật"
                    >
                        Ngày Cập Nhật
                        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #modificationDate="matMenu">
                        <button
                            mat-menu-item
                            (click)="onSortChange('lastModifiedDate', 'desc')"
                        >
                            Mới nhất
                        </button>
                        <button
                            mat-menu-item
                            (click)="onSortChange('lastModifiedDate', 'asc')"
                        >
                            Cũ Nhất
                        </button>
                    </mat-menu>
                </div>
                <mat-paginator
                    class="!bg-transparent"
                    [length]="products?.total ?? 0"
                    [pageSize]="criteria.page.pageSize"
                    (page)="onPageChange($event)"
                    [showFirstLastButtons]="false"
                    [hidePageSize]="true"
                    aria-label="Chọn trang"
                >
                </mat-paginator>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-3 2xl:grid-cols-4 gap-6">
                <ng-template #productSkeletonLoading>
                    <ng-template ngFor [ngForOf]="generateRange(12)">
                        <div
                            class="animate-pulse flex flex-col gap-3 cursor-pointer hover:shadow p-2 rounded-lg"
                        >
                            <div
                                class="w-60 h-60 rounded-lg bg-neutral-200"
                            ></div>
                            <div class="flex flex-col">
                                <div
                                    class="w-3/4 h-4 rounded-lg bg-neutral-200"
                                ></div>
                                <div
                                    class="w-1/2 h-4 rounded-lg bg-neutral-200"
                                ></div>
                            </div>
                        </div>
                    </ng-template>
                </ng-template>
                <ng-container *ngIf="products; else productSkeletonLoading">
                    <ng-container
                        *ngIf="products.results.length > 0; else noProducts"
                    >
                        <ng-container *ngFor="let product of products.results">
                            <ng-container *ngIf="product.enabled">
                                <div
                                    class="flex flex-col gap-3 items-center cursor-pointer hover:shadow hover:bg-white p-2 rounded-lg"
                                    (click)="onProductClick(product)"
                                >
                                    <ng-container *ngIf="product.mainImage">
                                        <img
                                            ngSrc="{{
                                                product.mainImage
                                                    | imageUrlTransform
                                            }}"
                                            alt="{{ product.name }}"
                                            width="232"
                                            height="232"
                                            priority
                                            class="object-cover"
                                            style="width: 232px; height: 232px"
                                        />
                                    </ng-container>
                                    <div class="flex flex-col w-full">
                                        <div
                                            class="font-sans text-xl font-bold leading-normal max-w-56"
                                        >
                                            {{ product.name }}
                                        </div>
                                        <div
                                            class="font-sans text-base font-medium leading-normal text-slate-600"
                                        >
                                            {{ product.price | vndCurrency }}
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                    <ng-template #noProducts>
                        <p class="font-sans text-xl text-gray-500">
                            Không tìm thấy sản phẩm nào.
                        </p>
                    </ng-template>
                </ng-container>
            </div>
            <ng-template #productSkeletonLoading></ng-template>
            <div class="flex flex-col">
                <mat-divider />
                <mat-paginator
                    class="!bg-transparent"
                    [length]="products?.total"
                    [pageSize]="criteria.page.pageSize"
                    (page)="onPageChange($event)"
                    [showFirstLastButtons]="true"
                    [hidePageSize]="true"
                    aria-label="Chọn trang"
                >
                </mat-paginator>
                <mat-divider />
            </div>
        </div>
    </form>
</div>
