<div class="mat-elevation-z8">
    <table
        mat-table
        matSort
        [dataSource]="searchResult.results"
        (matSortChange)="onSortChange($event)"
    >
        <!-- Select Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <mat-checkbox
                    (change)="$event ? toggleAllRows() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                >
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                >
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- Dynamic Columns Definition -->
        <ng-container
            *ngFor="let column of dynamicDisplayedColumns"
            [matColumnDef]="column"
        >
            <!-- Header Template -->
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <ng-container
                    *ngIf="headerTemplateMap[column]; else defaultHeader"
                >
                    <ng-container
                        *ngTemplateOutlet="
                            headerTemplateMap[column];
                            context: { $implicit: column }
                        "
                    ></ng-container>
                </ng-container>
                <ng-template #defaultHeader>{{
                    defaultHeaderTemplate(column)
                }}</ng-template>
            </th>

            <!-- Cell Template -->
            <td mat-cell *matCellDef="let element">
                <ng-container *ngIf="cellTemplateMap[column]; else defaultCell">
                    <ng-container
                        *ngTemplateOutlet="
                            cellTemplateMap[column];
                            context: {
                                $implicit: element[column],
                                element: element,
                                column: column,
                            }
                        "
                    ></ng-container>
                </ng-container>
                <ng-template #defaultCell>{{ element[column] }}</ng-template>
            </td>
        </ng-container>

        <tr
            class="font-sans !font-bold"
            mat-header-row
            *matHeaderRowDef="displayedColumns"
        ></tr>
        <tr
            class="font-sans hover:cursor-pointer *:hover:text-primary"
            (click)="rowClicked.emit(row)"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
    <mat-paginator
        [length]="searchResult.total"
        [pageSize]="searchCriteria.page.limit"
        (page)="onPageChange($event)"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
    >
    </mat-paginator>
</div>
