<div class="flex justify-between my-2.5">
    <!--  Logo  -->
    <div
        class="flex flex-col items-center justify-around hover:cursor-pointer"
        (click)="navigateToHomepage()"
    >
        <div
            style="
                color: #ff6f91;
                font-size: 32px;
                font-style: normal;
                font-weight: 900;
                line-height: 150%; /* 48px */
                text-transform: uppercase;
            "
        >
            Graceful Florist
        </div>
        <div
            style="
                color: #ff6f91;
                font-size: 15px;
                font-style: normal;
                font-weight: 900;
                line-height: 150%; /* 22.5px */
                text-transform: uppercase;
            "
        >
            Flower Speak Your Language
        </div>
    </div>
    <!--  Navigations  -->
    <div class="flex flex-row justify-between items-center gap-1">
        <button mat-button (click)="navigateToOrdersTracking()">
            Tra Cứu Đơn Hàng
        </button>
        <button mat-button>Sản Phẩm</button>
        <button mat-button>Thiết Kế Hoa</button>
    </div>
    <!--  Search, User & Cart  -->
    <div class="flex flex-row justify-center items-center gap-1">
        <graceful-florist-autocomplete></graceful-florist-autocomplete>
        <button
            mat-icon-button
            aria-label="Example icon button with a user icon"
            (click)="navigateToLoginPage()"
        >
            <mat-icon color="primary">person</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Example icon button with a cart icon"
        >
            <mat-icon color="primary">shopping_cart</mat-icon>
        </button>
    </div>
</div>
