<div class="flex justify-between my-2.5">
    <!--  Logo  -->
    <div class="hover:cursor-pointer" (click)="navigateToHomepage()">
        <svg-icon src="assets/Logo.svg"></svg-icon>
    </div>
    <!--  Navigations  -->
    <div class="flex flex-row justify-between items-center gap-1">
        <button mat-button (click)="navigateToOrdersTracking()">
            Tra Cứu Đơn Hàng
        </button>
        <button mat-button (click)="navigateToProducts()">Sản Phẩm</button>
        <button mat-button disabled>Thiết Kế Hoa</button>
        <button mat-button disabled>Hợp tác với chúng tôi</button>
        <button
            mat-button
            matTooltip="Sẽ bị xoá sau khi go live"
            (click)="navigateToDevMode()"
        >
            Dev Mode
        </button>
    </div>
    <!--  Search, User & Cart  -->
    <div class="flex flex-row justify-center items-center gap-1">
        <graceful-florist-autocomplete></graceful-florist-autocomplete>
        <button
            mat-icon-button
            aria-label="Example icon button with a user icon"
            (click)="navigateToLoginPage()"
        >
            <mat-icon color="primary">person</mat-icon>
        </button>
        <button
            mat-icon-button
            aria-label="Example icon button with a cart icon"
        >
            <mat-icon color="primary">shopping_cart</mat-icon>
        </button>
    </div>
</div>
