<div class="container mx-auto flex flex-col py-5 gap-5">
    <graceful-florist-breadcrumb [breadcrumbs]="breadcrumbs" />
    <graceful-florist-tab-category />
    <ng-container *ngIf="productDto; else productSkeletonLoading">
        <div
            class="flex flex-col rounded-lg gap-5 py-8 px-6 sm:flex-row bg-white"
        >
            <div
                class="flex flex-col gap-2.5 max-w-sm lg:max-w-xl 2xl:max-w-screen-md"
            >
                <ng-container *ngIf="mainImage">
                    <img
                        [ngSrc]="mainImage | imageUrlTransform"
                        [alt]="productDto.name"
                        class="rounded-lg object-cover"
                        priority
                        width="472"
                        height="350"
                        style="width: 472px; height: 350px"
                    />
                </ng-container>
                <ng-container *ngIf="productDto.images.length">
                    <div class="flex gap-6 w-full overflow-x-auto">
                        <img
                            *ngFor="let image of productDto.images"
                            [ngSrc]="image | imageUrlTransform"
                            [alt]="productDto.name"
                            class="object-cover"
                            (click)="changeMainImage(image)"
                            priority
                            width="100"
                            height="100"
                            style="width: 100px; height: 100px"
                        />
                    </div>
                </ng-container>
            </div>
            <div class="flex flex-col gap-2.5 w-full">
                <!--     Name, detail, reviews, purchase     -->
                <div class="flex flex-col">
                    <div class="font-sans text-xl font-bold leading-normal">
                        {{ productDto.name }}
                    </div>
                    <div class="flex gap-2">
                        <div
                            class="font-sans text-sm font-normal leading-normal text-slate-500"
                        >
                            {{ productDto.detail }}
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div
                            class="flex gap-1 font-sans text-sm font-normal leading-normal text-slate-500"
                        >
                            <strong class="text-slate-900">{{
                                productDto.purchaseCount
                            }}</strong
                            >Lượt Mua
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>
                        <div
                            class="flex gap-1 font-sans text-sm font-normal leading-normal text-slate-500"
                        >
                            <strong class="text-slate-900">{{
                                productDto.reviewCount
                            }}</strong
                            >Lượt đánh giá
                        </div>
                    </div>
                </div>
                <!--     Price     -->
                <div
                    class="font-sans text-xl font-extrabold leading-normal text-primary"
                >
                    {{ productDto.price | vndCurrency }}
                </div>
                <mat-divider />
                <!--     Ingredients Title    -->
                <div class="font-sans text-base font-semibold leading-normal">
                    Thành Phần
                </div>
                <!--     Ingredients Detail    -->
                <div class="flex gap-2 5 items-center">
                    @for (
                        ingredient of productDto.ingredients;
                        track ingredient
                    ) {
                        <div
                            class="flex flex-col gap-2 5 justify-between items-center"
                        >
                            <img
                                [ngSrc]="ingredient.image | imageUrlTransform"
                                [alt]="ingredient.name"
                                priority
                                width="100"
                                height="100"
                                class="object-cover"
                                style="width: 100px; height: 100px"
                            />
                            <div
                                class="font-sans text-xs font-normal leading-normal text-slate-700"
                            >
                                {{ ingredient.name }}
                            </div>
                        </div>
                    }
                </div>
                <!--     Description Title    -->
                <div class="font-sans text-base font-semibold leading-normal">
                    Mô Tả
                </div>
                <!--     Description Detail    -->
                <ul
                    class="list-disc *:text-sm *:font-sans *:font-normal *:leading-normal pl-3"
                >
                    <li>
                        Bó hoa được kết từ những bông hoa tươi mới nhất, đảm bảo
                        chất lượng cao.
                    </li>
                    <li>
                        Thiết kế tinh tế, sang trọng, phù hợp với mọi không
                        gian.
                    </li>
                    <li>
                        Mang ý nghĩa sâu sắc về tình yêu nồng nàn và say đắm.
                    </li>
                    <li>Là món quà hoàn hảo để dành tặng cho người ấy.</li>
                </ul>
                <!--     Actions    -->
                <div class="flex gap-8">
                    <button mat-raised-button (click)="addToCart()">
                        Thêm vào giỏ hàng
                    </button>
                    <button
                        mat-raised-button
                        color="primary"
                        (click)="buyNow()"
                    >
                        Mua ngay
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #productSkeletonLoading>
        <div
            class="flex flex-col rounded-lg gap-5 py-8 px-6 sm:flex-row bg-white"
        >
            <div
                class="animate-pulse flex flex-col gap-2.5 max-w-sm lg:max-w-xl 2xl:max-w-screen-md"
            >
                <div
                    class="rounded-lg bg-neutral-200"
                    style="width: 472px; height: 350px"
                ></div>
                <div class="grid grid-cols-4 gap-6">
                    <ng-template ngFor [ngForOf]="[1, 2, 3, 4]">
                        <div
                            class="rounded-lg bg-neutral-200"
                            style="width: 100px; height: 100px"
                        ></div>
                    </ng-template>
                </div>
            </div>
            <div class="animate-pulse flex flex-col gap-2.5 w-full">
                <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                <div class="flex gap-3">
                    <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                    <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                </div>
                <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                <div class="flex gap-3">
                    <ng-template ngFor [ngForOf]="[1, 2, 3]">
                        <div
                            class="rounded-lg bg-neutral-200"
                            style="width: 100px; height: 100px"
                        ></div>
                    </ng-template>
                </div>
                <div class="h-6 rounded w-1/3 bg-neutral-200"></div>
                <div class="h-6 rounded bg-neutral-200"></div>
                <div class="h-6 rounded bg-neutral-200"></div>
                <div class="h-6 rounded bg-neutral-200"></div>
                <div class="flex justify-between gap-6">
                    <div class="h-6 rounded w-1/2 bg-neutral-200"></div>
                    <div class="h-6 rounded w-1/2 bg-neutral-200"></div>
                </div>
            </div>
        </div>
    </ng-template>
    <div class="flex flex-col lg:flex-row gap-8">
        <div class="flex flex-col rounded-lg gap-3.5 py-8 px-6 bg-white h-fit">
            <div class="font-sans text-base font-extrabold">Đề Xuất</div>
            <ng-container
                *ngIf="
                    recommendedProducts.length;
                    else productCardSkeletonLoading
                "
            >
                @for (recommend of recommendedProducts; track recommend) {
                    <div
                        class="max-w-sm min-w-fit sm:min-w-64 flex flex-col gap-3 cursor-pointer hover:shadow p-2 rounded-lg"
                        (click)="onProductClick(recommend)"
                    >
                        <img
                            class="object-cover"
                            ngSrc="{{
                                recommend.mainImage | imageUrlTransform
                            }}"
                            alt="{{ recommend.name }}"
                            priority
                            width="232"
                            height="232"
                            style="width: 232px; height: 232px"
                        />
                        <div class="flex flex-col">
                            <div
                                class="font-sans text-xl font-bold leading-normal whitespace-nowrap"
                            >
                                {{ recommend.name }}
                            </div>
                            <div
                                class="font-sans text-base font-medium leading-normal text-slate-600"
                            >
                                {{ recommend.price | vndCurrency }}
                            </div>
                        </div>
                    </div>
                }
            </ng-container>
            <ng-template #productCardSkeletonLoading>
                <div
                    class="flex flex-col gap-3 max-w-sm hover:shadow p-2 rounded-lg"
                >
                    <div class="animate-pulse w-64 h-72 bg-neutral-200"></div>
                    <div class="animate-pulse flex flex-col gap-3">
                        <div class="h-6 rounded bg-neutral-200"></div>
                        <div class="h-6 rounded bg-neutral-200"></div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="rounded-lg py-8 px-6 bg-white w-full">
            <mat-tab-group>
                <mat-tab label="Đánh Giá Khách Hàng (50)">
                    <!-- Comments container -->
                    <ng-template #commentSkeletonLoading>
                        <div class="flex flex-col w-full">
                            <ng-template ngFor [ngForOf]="[1, 2, 3, 4, 5]">
                                <div class="flex min-h-64 p-5 gap-2">
                                    <div
                                        class="animate-pulse rounded-full bg-neutral-200"
                                        style="width: 60px; height: 60px"
                                    ></div>
                                    <div
                                        class="animate-pulse flex flex-col gap-2.5 w-full"
                                    >
                                        <div
                                            class="h-6 w-1/4 rounded bg-neutral-200"
                                        ></div>
                                        <div
                                            class="h-6 w-1/3 rounded bg-neutral-200"
                                        ></div>
                                        <div
                                            class="h-6 w-1/3 rounded bg-neutral-200"
                                        ></div>
                                        <div
                                            class="rounded-lg bg-neutral-200"
                                            style="width: 100px; height: 100px"
                                        ></div>
                                        <div
                                            class="h-6 w-1/2 rounded bg-neutral-200"
                                        ></div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </ng-template>
                    <ng-container
                        *ngIf="
                            productDto && productDto.comments?.total;
                            else commentSkeletonLoading
                        "
                    >
                        <div class="flex flex-col w-full">
                            @for (
                                comment of productDto.comments.results;
                                track comment
                            ) {
                                <div class="flex items-start gap-2.5 p-5">
                                    <!-- User's avatar -->
                                    <img
                                        class="w-auto h-auto"
                                        [ngSrc]="comment.user.avatar"
                                        [alt]="comment.user.name"
                                        width="60"
                                        height="60"
                                        priority
                                    />
                                    <div class="flex flex-col gap-2.5">
                                        <!-- User's full name, rating, comment -->
                                        <div class="flex flex-col">
                                            <div
                                                class="font-sans text-base font-semibold leading-normal"
                                            >
                                                {{ comment.user.name }}
                                            </div>
                                            <!-- TODO: Render rating based on user's rating -->
                                            <div class="flex">
                                                <mat-icon
                                                    class="!text-primary"
                                                    aria-hidden="false"
                                                    aria-label="Example star icon"
                                                    fontIcon="star"
                                                ></mat-icon>
                                                <mat-icon
                                                    class="!text-primary"
                                                    aria-hidden="false"
                                                    aria-label="Example star icon"
                                                    fontIcon="star"
                                                ></mat-icon>
                                                <mat-icon
                                                    class="!text-primary"
                                                    aria-hidden="false"
                                                    aria-label="Example star icon"
                                                    fontIcon="star"
                                                ></mat-icon>
                                                <mat-icon
                                                    class="!text-primary"
                                                    aria-hidden="false"
                                                    aria-label="Example star icon"
                                                    fontIcon="star_half"
                                                ></mat-icon>
                                                <mat-icon
                                                    class="!text-primary"
                                                    aria-hidden="false"
                                                    aria-label="Example star icon"
                                                    fontIcon="star_outline"
                                                ></mat-icon>
                                            </div>
                                            <div
                                                class="font-sans text-base font-semibold leading-normal"
                                            >
                                                {{ comment.content }}
                                            </div>
                                        </div>
                                        <!-- Images -->
                                        <div class="flex">
                                            @for (
                                                image of comment.images;
                                                track image
                                            ) {
                                                <img
                                                    [ngSrc]="image"
                                                    [alt]="comment.user.name"
                                                    priority
                                                    width="100"
                                                    height="100"
                                                    class="object-cover"
                                                    style="
                                                        width: 100px;
                                                        height: 100px;
                                                    "
                                                />
                                            }
                                        </div>
                                        <!-- Address and created date -->
                                        <div class="flex gap-2.5">
                                            <div
                                                class="font-sans text-sm font-normal leading-normal text-slate-600"
                                            >
                                                {{ comment.address }}
                                            </div>
                                            <div
                                                class="font-sans text-sm font-normal leading-normal text-slate-600"
                                            >
                                                {{ comment.createdDate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <mat-paginator
                                (page)="onCommentPageChange($event)"
                                [length]="productDto.comments.total"
                                [pageSize]="commentCriteria.page.pageSize"
                                [pageSizeOptions]="[5, 10, 25, 100]"
                                [showFirstLastButtons]="true"
                                [hidePageSize]="false"
                                aria-label="Chọn trang"
                                customPaginatorLabel
                                itemsPerPageLabel="Tổng số đánh giá:"
                                nextPageLabel="Trang tiếp"
                                previousPageLabel="Trang trước"
                                firstPageLabel="Trang đầu"
                                lastPageLabel="Trang cuối"
                            >
                            </mat-paginator>
                        </div>
                    </ng-container>
                </mat-tab>
                <mat-tab label="Vấn Đề Thường Gặp"></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
