<div
    *ngIf="!userRoles.includes(UserRole.ADMIN)"
    class="hidden sm:flex sm:flex-col sm:gap-7 pt-14"
>
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
        <div class="flex flex-col">
            <div
                style="
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 150%; /* 48px */
                    text-transform: uppercase;
                "
            >
                Graceful Florist
            </div>
            <div
                style="
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 150%; /* 24px */
                    text-transform: uppercase;
                "
            >
                Flower Speak Your Language
            </div>
            <div class="flex items-center justify-center">
                <svg-icon src="assets/facebook.svg"></svg-icon>
                <svg-icon src="assets/instagram.svg"></svg-icon>
            </div>
        </div>
        <div class="flex flex-col">
            <div class="text-3xl font-bold leading-normal">
                Liên Hệ Chúng Tôi
            </div>
            <div class="*:text-base *:font-normal *:leading-8">
                <p>0913566823</p>
                <p>{{ "graceful4u.work@gmail.com" }}</p>
                <p>10:00 - 19:00</p>
            </div>
        </div>
    </div>
    <div
        class="flex justify-center items-start"
        style="
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 150%; /* 24px */
            text-transform: uppercase;
            height: 48px;
        "
    >
        Copyright ©2024, Gracefulflorist.com, All rights reserved
    </div>
</div>
