<div
    class="min-h-fit bg-gray-200 bg-cover bg-repeat-y"
    [ngStyle]="{
        'background-image': 'url(' + 'assets/427318924.png' + ')',
    }"
>
    <div class="container mx-auto" style="padding: 120px 120px">
        <!--Tra cứu đơn hàng-->
        <div
            class="flex flex-col gap-6 bg-white"
            style="border-radius: 40px; padding: 47px 52px; width: 560px"
        >
            <div
                style="
                    text-align: center;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                "
            >
                Tra cứu đơn hàng
            </div>
            <div class="flex flex-col gap-2">
                <div
                    style="
                        color: #4f566b;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.18px;
                    "
                >
                    Mã đơn hàng / Số điện thoại
                </div>
                <div class="flex items-center rounded-lg bg-gray-100 h-16 px-3">
                    <input class="!outline-none w-full bg-gray-100" />
                </div>
            </div>
            <button
                mat-flat-button
                color="primary"
                class="!rounded-2xl !h-14"
                (click)="navigateToOrderDetail()"
            >
                Kiểm tra
            </button>
        </div>
    </div>
</div>
