<div
    class="min-h-fit bg-gray-200 bg-cover bg-repeat-y"
    [ngStyle]="{
        'background-image': 'url(' + 'assets/427318924.png' + ')',
    }"
>
    <div class="container mx-auto sm:p-28">
        <!--Chi tiết đơn hàng-->
        <div class="flex flex-col gap-6 bg-white sm:rounded-3xl p-6 sm:p-12">
            <div class="flex gap-2.5 items-center">
                <button mat-icon-button (click)="navigateBack()">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <div class="font-sans font-normal text-2xl text-left">
                    Chi tiết đơn hàng #{{ simplifyUUID(orderDto.id) }}
                </div>
            </div>
            <div class="grid sm:grid-cols-2 grid-cols-1 gap-5">
                <div
                    class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-2 sm:gap-4"
                >
                    <div
                        class="min-w-32 font-sans text-lg font-normal text-gray-600"
                    >
                        Họ Tên
                    </div>
                    <div
                        class="flex items-center rounded-lg bg-gray-200 h-16 px-3 w-full"
                    >
                        <input
                            class="!outline-none w-full bg-gray-200 font-sans text-sm font-medium"
                            disabled
                            value="{{ orderDto.recipientName }}"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-2 sm:gap-4"
                >
                    <div
                        class="min-w-32 font-sans text-lg font-normal text-gray-600"
                    >
                        Địa Chỉ
                    </div>
                    <div
                        class="flex items-center rounded-lg bg-gray-200 h-16 px-3 w-full"
                    >
                        <input
                            class="!outline-none w-full bg-gray-200 font-sans text-sm font-medium"
                            disabled
                            value="{{ orderDto.recipientAddress }}"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-2 sm:gap-4"
                >
                    <div
                        class="min-w-32 font-sans text-lg font-normal text-gray-600"
                    >
                        Số Điện Thoại
                    </div>
                    <div
                        class="flex items-center rounded-lg bg-gray-200 h-16 px-3 w-full"
                    >
                        <input
                            class="!outline-none w-full bg-gray-200 font-sans text-sm font-medium"
                            disabled
                            value="{{ orderDto.recipientPhone }}"
                        />
                    </div>
                </div>
                <div
                    class="flex flex-col sm:flex-row sm:justify-between sm:items-center w-full gap-2 sm:gap-4"
                >
                    <div
                        class="min-w-32 font-sans text-lg font-normal text-gray-600"
                    >
                        Tình Trạng
                    </div>
                    <div
                        class="flex items-center rounded-lg bg-gray-200 h-16 px-3 w-full"
                    >
                        <input
                            class="!outline-none w-full bg-gray-200 text-primary font-sans text-sm font-medium"
                            disabled
                            value="{{ orderDto.status | orderStatus }}"
                        />
                    </div>
                </div>
            </div>
            <div
                class="flex flex-col *:text-lg *:italic *:font-light *:text-gray-400 *:font-sans"
            >
                <p>
                    - Giá trên chưa bao gồm phí vận chuyển. Phí vận chuyển sẽ
                    được nhân viên báo khi xác nhận đơn hàng.
                </p>
                <p>
                    - Thời gian xử lý đơn hàng: Từ 8h00- 17h thứ 2 đến thứ 7.
                    Các đơn hàng sau thời gian này sẽ được xử lý vào ngày làm
                    việc tiếp theo.
                </p>
                <p>
                    - Mọi thắc mắc mắc liên hệ hotline:
                    <strong class="text-primary font-medium">0913588206</strong>
                </p>
            </div>
            <div>
                <table
                    mat-table
                    [dataSource]="orderItems"
                    class="mat-elevation-z8 !shadow-none"
                >
                    <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Tên sản phẩm -->
                    <ng-container matColumnDef="name">
                        <th
                            class="!font-bold"
                            mat-header-cell
                            *matHeaderCellDef
                        >
                            Tên sản phẩm
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="flex gap-2 w-fit bg">
                                <img
                                    class="object-cover"
                                    alt="{{ element.product.name }}"
                                    ngSrc="{{
                                        element.product.mainImage
                                            | imageUrlTransform
                                    }}"
                                    width="100"
                                    height="100"
                                    priority
                                    style="width: 100px; height: 100px"
                                />
                                <div class="flex flex-col justify-center gap-1">
                                    <div class="text-sm leading-5 font-normal">
                                        {{ element.product.name }}
                                    </div>
                                    <div
                                        class="text-xs leading-4 font-normal text-gray-400 max-w-sm"
                                    >
                                        {{ element.product.description }}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Giá đặt hàng -->
                    <ng-container matColumnDef="price">
                        <th
                            class="!font-bold"
                            mat-header-cell
                            *matHeaderCellDef
                        >
                            Giá đặt hàng
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.product.price | vndCurrency }}
                        </td>
                    </ng-container>

                    <!-- Số lượng -->
                    <ng-container matColumnDef="quantity">
                        <th
                            class="!font-bold"
                            mat-header-cell
                            *matHeaderCellDef
                        >
                            Số lượng
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.quantity }}
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="productDisplayedColumns"
                    ></tr>
                    <tr
                        mat-row
                        *matRowDef="let row; columns: productDisplayedColumns"
                    ></tr>
                </table>
                <mat-divider></mat-divider>
            </div>
            <div class="flex justify-end items-center gap-1">
                <p class="text-sm leading-5 font-normal">Số tiền phải trả:</p>
                <strong class="text-sm leading-5 text-primary">{{
                    orderDto.totalPrice | vndCurrency
                }}</strong>
            </div>
        </div>
    </div>
</div>
