<div class="container mx-auto flex flex-col py-5 gap-5">
    <graceful-florist-breadcrumb [breadcrumbs]="breadcrumbs" />
    <form
        [formGroup]="formGroup"
        class="flex flex-col bg-white gap-2 py-3 px-4 rounded-lg"
    >
        <div class="flex justify-between gap-2 py-3">
            <div
                class="font-sans text-2xl font-semibold leading-normal text-primary"
            >
                Thông tin người dùng
            </div>
            <div class="font-sans text-xl font-semibold leading-normal">
                Welcome! {{ username }}
            </div>
        </div>
        <div class="flex gap-12">
            <mat-form-field
                class="w-1/2"
                appearance="fill"
                gracefulFloristErrorMessage
            >
                <mat-label class="font-sans text-base">Họ</mat-label>
                <input matInput formControlName="firstName" />
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field
                class="w-1/2"
                appearance="fill"
                gracefulFloristErrorMessage
            >
                <mat-label class="font-sans text-base">Tên</mat-label>
                <input matInput formControlName="lastName" />
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <div class="flex gap-12">
            <mat-form-field
                class="w-1/2"
                appearance="fill"
                gracefulFloristErrorMessage
            >
                <mat-label class="font-sans text-base">Email</mat-label>
                <input matInput formControlName="email" />
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field
                class="w-1/2"
                appearance="fill"
                gracefulFloristErrorMessage
            >
                <mat-label class="font-sans text-base">Địa chỉ</mat-label>
                <input matInput formControlName="address" />
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        <mat-form-field appearance="fill" gracefulFloristErrorMessage>
            <mat-label class="font-sans text-base">Mật khẩu hiện tại</mat-label>
            <input matInput formControlName="currentPassword" />
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" gracefulFloristErrorMessage>
            <mat-label class="font-sans text-base">Mật khẩu mới</mat-label>
            <input matInput formControlName="newPassword" />
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" gracefulFloristErrorMessage>
            <mat-label class="font-sans text-base"
                >Xác nhận mật khẩu mới</mat-label
            >
            <input matInput formControlName="confirmPassword" />
            <mat-error></mat-error>
        </mat-form-field>
        <div class="flex justify-end w-full gap-4">
            <button
                [disabled]="formGroup.invalid"
                mat-flat-button
                color="primary"
                (click)="submit()"
            >
                Cập Nhật
            </button>
        </div>
    </form>
</div>
