<div class="flex min-h-screen">
    <graceful-florist-sidebar
        [defaultSelectedItemId]="selectedTab"
        [menuItems]="menuItems"
        (itemChanged)="onTabChanged($event)"
    />
    <div class="bg-gray-50 flex flex-col w-full p-8 gap-8">
        <ng-container ngSwitch [ngSwitch]="selectedTab">
            <ng-container *ngSwitchCase="AdminTab.DASHBOARD">
                <ng-container *ngTemplateOutlet="dashboard"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="AdminTab.PRODUCTS">
                <ng-container *ngTemplateOutlet="products"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>

<ng-template #dashboard>
    <div class="grid grid-cols-3 gap-8">
        <!--     Tổng đơn đặt hàng     -->
        <graceful-florist-total-card
            title="Tổng đơn đặt hàng"
            [value]="10293"
            icon="assets/total-orders.svg"
            [percentageChange]="1.3"
            changeDescription="Up from past week"
        ></graceful-florist-total-card>
        <!--     Tổng doanh thu     -->
        <graceful-florist-total-card
            title="Tổng doanh thu"
            [formatCurrency]="true"
            [value]="4578000"
            icon="assets/total-income.svg"
            [percentageChange]="1.3"
            changeDescription="Up from past week"
        ></graceful-florist-total-card>
        <!--     Tổng đơn đang Đợi xử lý     -->
        <graceful-florist-total-card
            title="Tổng đơn đang Đợi xử lý"
            [value]="150"
            icon="assets/waiting.svg"
            [percentageChange]="-1.8"
            changeDescription="Down from past week"
        ></graceful-florist-total-card>
    </div>
    <!--   Doanh Số Theo Ngày   -->
    <div class="bg-white p-4 rounded-lg shadow">
        <h2 class="font-sans text-xl font-semibold mb-2">Doanh Số Theo Ngày</h2>
        <apx-chart
            [series]="dailyChartOptions.series"
            [chart]="dailyChartOptions.chart"
            [xaxis]="dailyChartOptions.xaxis"
            [yaxis]="dailyChartOptions.yaxis"
            [tooltip]="dailyChartOptions.tooltip"
            [colors]="dailyChartOptions.colors"
            [stroke]="dailyChartOptions.stroke"
        ></apx-chart>
    </div>
    <!--   Doanh Số Tổng Theo Tháng   -->
    <div class="bg-white p-4 rounded-lg shadow">
        <h2 class="font-sans text-xl font-semibold mb-2">
            Doanh Số Tổng Theo Tháng
        </h2>
        <apx-chart
            [series]="monthlyChartOptions.series"
            [chart]="monthlyChartOptions.chart"
            [xaxis]="monthlyChartOptions.xaxis"
            [yaxis]="monthlyChartOptions.yaxis"
            [tooltip]="monthlyChartOptions.tooltip"
            [colors]="monthlyChartOptions.colors"
            [stroke]="monthlyChartOptions.stroke"
            [legend]="monthlyChartOptions.legend"
        ></apx-chart>
    </div>
    <!--   Đang Đợi Xử Lý   -->
    <div class="flex flex-col gap-3">
        <div class="flex justify-between items-center">
            <h2 class="font-sans text-xl font-semibold mb-2">Đang Đợi Xử Lý</h2>
            <button mat-flat-button color="primary">Xem thêm</button>
        </div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.name }}
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef>Weight</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.weight }}
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef>Symbol</th>
                <td mat-cell *matCellDef="let element">
                    <div
                        class="text-center font-sans text-xs font-bold w-fit bg-violet-200 text-violet-800 rounded-lg py-2 px-8"
                    >
                        {{ element.symbol }}
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</ng-template>

<ng-template #products>
    <div class="font-sans text-2xl font-bold">Sản phẩm</div>
    <div class="flex gap-3 justify-start">
        <!-- Ngày -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="date"
            aria-label="Ngày"
        >
            Ngày
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #date="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- Danh mục -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="category"
            aria-label="Danh mục"
        >
            Danh mục
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #category="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="status"
            aria-label="Trạng thái"
        >
            Trạng thái
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #status="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <button class="!rounded-lg !text-primary" mat-flat-button>
            Reset Filter
        </button>
        <div class="ml-auto">
            <button class="!rounded-lg" mat-flat-button color="primary">
                + Thêm Mới Sản Phẩm
            </button>
        </div>
    </div>
    <graceful-florist-table
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [headerTemplates]="headerTemplates"
        [cellTemplates]="cellTemplates"
    >
        <!-- Header Template for ID column -->
        <ng-template #nameHeader let-column> Name </ng-template>

        <ng-template #nameCell let-name>
            {{ name }}
        </ng-template>

        <!-- Header Template for Name column -->
        <ng-template #priceHeader let-column> Price </ng-template>

        <!-- Cell Template for Name column -->
        <ng-template #priceCell let-price>
            {{ price | vndCurrency }}
        </ng-template>
    </graceful-florist-table>
</ng-template>
