<div class="flex flex-col p-8 gap-8">
    <div class="grid grid-cols-3 gap-8">
        <!--     Tổng đơn đặt hàng     -->
        <graceful-florist-total-card
            title="Tổng đơn đặt hàng"
            [value]="reportDTO ? reportDTO.totalOrders : 0"
            icon="assets/total-orders.svg"
            [percentageChange]="
                reportDTO
                    ? reportDTO.totalOrders / reportDTO.totalOrdersLastWeek
                    : 0
            "
            changeDescription="Up from past week"
        ></graceful-florist-total-card>
        <!--     Tổng doanh thu     -->
        <graceful-florist-total-card
            title="Tổng doanh thu"
            [formatCurrency]="true"
            [value]="reportDTO ? reportDTO.totalRevenue : 0"
            icon="assets/total-income.svg"
            [percentageChange]="
                reportDTO
                    ? reportDTO.totalRevenue / reportDTO.totalRevenueLastWeek
                    : 0
            "
            changeDescription="Up from past week"
        ></graceful-florist-total-card>
        <!--     Tổng đơn đang Đợi xử lý     -->
        <graceful-florist-total-card
            title="Tổng đơn đang Đợi xử lý"
            [value]="reportDTO ? reportDTO.totalOrdersPending : 0"
            icon="assets/waiting.svg"
            [percentageChange]="
                reportDTO
                    ? reportDTO.totalOrdersPending /
                      reportDTO.totalOrdersPendingLastWeek
                    : 0
            "
            changeDescription="Down from past week"
        ></graceful-florist-total-card>
    </div>
    <!--   Doanh Số Theo Ngày   -->
    <div class="bg-white p-4 rounded-lg shadow">
        <h2 class="font-sans text-xl font-semibold mb-2">Doanh Số Theo Ngày</h2>
        @if (dailyChartOptions) {
            <apx-chart
                [series]="dailyChartOptions.series"
                [chart]="dailyChartOptions.chart"
                [xaxis]="dailyChartOptions.xaxis"
                [yaxis]="dailyChartOptions.yaxis"
                [tooltip]="dailyChartOptions.tooltip"
                [colors]="dailyChartOptions.colors"
                [stroke]="dailyChartOptions.stroke"
            ></apx-chart>
        }
    </div>
    <!--   Doanh Số Tổng Theo Tháng   -->
    <div class="bg-white p-4 rounded-lg shadow">
        <h2 class="font-sans text-xl font-semibold mb-2">
            Doanh Số Tổng Theo Tháng
        </h2>
        @if (monthlyChartOptions) {
            <apx-chart
                [series]="monthlyChartOptions.series"
                [chart]="monthlyChartOptions.chart"
                [xaxis]="monthlyChartOptions.xaxis"
                [yaxis]="monthlyChartOptions.yaxis"
                [tooltip]="monthlyChartOptions.tooltip"
                [colors]="monthlyChartOptions.colors"
                [stroke]="monthlyChartOptions.stroke"
                [legend]="monthlyChartOptions.legend"
            ></apx-chart>
        }
    </div>
    <!--   Đơn hàng Đang Đợi Xử Lý   -->
    <div class="flex flex-col gap-3">
        <div class="flex justify-between items-center">
            <h2 class="font-sans text-xl font-semibold mb-2">
                Đơn Hàng Đang Đợi Xử Lý
            </h2>
            <button mat-flat-button color="primary" (click)="openAdminOrder()">
                Xem thêm
            </button>
        </div>
    </div>
    <graceful-florist-table
        (rowClicked)="openAdminOrderDetail($event)"
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="[
            'id',
            'recipientName',
            'recipientAddress',
            'createdDate',
            'type',
            'status',
        ]"
    >
        <ng-template headerTableTemplate="id" let-column>
            Mã đơn hàng
        </ng-template>
        <ng-template cellTableTemplate="id" let-value>
            {{ getProductId(value) }}
        </ng-template>

        <ng-template headerTableTemplate="recipientName" let-column>
            Tên khách hàng
        </ng-template>
        <ng-template cellTableTemplate="recipientName" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="recipientAddress" let-column>
            Địa chỉ
        </ng-template>
        <ng-template cellTableTemplate="recipientAddress" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="createdDate" let-column>
            Ngày đặt
        </ng-template>
        <ng-template cellTableTemplate="createdDate" let-value>
            {{ value | date: "dd/MM/yyyy" }}
        </ng-template>

        <ng-template headerTableTemplate="type" let-column>
            Loại đơn
        </ng-template>
        <ng-template cellTableTemplate="type" let-value>
            {{ value | orderType }}
        </ng-template>

        <ng-template headerTableTemplate="status" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="status" let-value>
            {{ value | orderStatus }}
        </ng-template>
    </graceful-florist-table>
</div>
