<div
    class="h-full bg-cover bg-repeat-y"
    [ngStyle]="{
        'background-image': 'url(' + 'assets/427318924.png' + ')',
    }"
>
    <div class="container mx-auto p-0 sm:p-28">
        <!--Tra cứu đơn hàng-->
        <div
            class="flex flex-col justify-center gap-6 bg-white sm:rounded-3xl p-6 sm:p-12 sm:max-w-xl h-dvh sm:h-fit"
        >
            <div
                class="font-sans font-semibold text-center text-2xl sm:text-4xl"
            >
                Tra cứu đơn hàng
            </div>
            <div class="flex flex-col gap-2">
                <div
                    class="font-sans font-normal text-lg sm:text-lg text-gray-600"
                >
                    Mã đơn hàng / Số điện thoại
                </div>
                <div class="flex items-center rounded-lg bg-gray-100 h-16 px-3">
                    <input
                        name="orderIdOrPhoneNumber"
                        class="!outline-none w-full bg-gray-100"
                    />
                </div>
            </div>
            <button
                mat-flat-button
                color="primary"
                class="!rounded-2xl !h-14"
                (click)="navigateToOrderDetail()"
            >
                Kiểm tra
            </button>
        </div>
    </div>
</div>
