<div class="flex flex-col p-8 gap-8">
    <div class="font-sans text-2xl font-bold">Đơn đặt hàng</div>
    <form [formGroup]="filterFormGroups" class="flex gap-3 justify-start">
        <!-- Ngày -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="date"
            aria-label="Ngày"
        >
            {{ dateTypeFilterLabel }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #date="matMenu" class="!min-w-80">
            <mat-card
                class="min-w-max !shadow-none"
                (click)="$event.stopPropagation()"
            >
                <mat-calendar
                    [selected]="filterFormGroups.get('fromInclusive')?.value"
                    (selectedChange)="onSelectedDateFilterChanged($event)"
                ></mat-calendar>
            </mat-card>
        </mat-menu>
        <!-- Loại -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="orderType"
            aria-label="Loại đơn"
        >
            {{ selectedOrderType | orderType: "Loại đơn" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #orderType="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="orderType">
                @for (orderType of orderTypes; track orderType) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary': orderType === selectedOrderType,
                            '!bg-white !border-slate-700':
                                orderType !== selectedOrderType,
                        }"
                        [value]="orderType"
                        >{{ orderType | orderType }}
                    </mat-chip-option>
                }
            </mat-chip-listbox>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="status"
            aria-label="Trạng thái"
        >
            {{ statusFilterLabel | orderStatus: "Trạng thái" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #status="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="status">
                @for (status of orderStatus; track status) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary':
                                status ===
                                this.filterFormGroups.get('status')?.value,
                            '!bg-white !border-slate-700':
                                status !==
                                this.filterFormGroups.get('status')?.value,
                        }"
                        [value]="status"
                        >{{ status | orderStatus }}</mat-chip-option
                    >
                }
            </mat-chip-listbox>
        </mat-menu>
        <button
            class="!rounded-lg !text-primary"
            mat-flat-button
            (click)="resetFilter()"
        >
            Reset Filter
        </button>
    </form>
    <graceful-florist-table
        #ordersTable
        (rowClicked)="openAdminOrderDetail($event)"
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="[
            'id',
            'recipientName',
            'recipientAddress',
            'createdDate',
            'type',
            'status',
        ]"
        [suppressSortColumns]="['type']"
    >
        <ng-template headerTableTemplate="id" let-column>
            Mã đơn hàng
        </ng-template>
        <ng-template cellTableTemplate="id" let-value>
            {{ getProductId(value) }}
        </ng-template>

        <ng-template headerTableTemplate="recipientName" let-column>
            Tên khách hàng
        </ng-template>
        <ng-template cellTableTemplate="recipientName" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="recipientAddress" let-column>
            Địa chỉ
        </ng-template>
        <ng-template cellTableTemplate="recipientAddress" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="createdDate" let-column>
            Ngày đặt
        </ng-template>
        <ng-template cellTableTemplate="createdDate" let-value>
            {{ value | date: "dd/MM/yyyy" }}
        </ng-template>

        <ng-template headerTableTemplate="type" let-column>
            Loại đơn
        </ng-template>
        <ng-template cellTableTemplate="type" let-value>
            {{ value | orderType }}
        </ng-template>

        <ng-template headerTableTemplate="status" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="status" let-value>
            {{ value | orderStatus }}
        </ng-template>
    </graceful-florist-table>
</div>
