<div class="hidden sm:flex justify-center">
    <mat-tab-group class="w-full">
        <mat-tab label="Tất cả danh mục">
            <ng-template matTabContent></ng-template>
        </mat-tab>
        <mat-tab label="Hoa Hồng Đỏ">
            <ng-template matTabContent></ng-template>
        </mat-tab>
        <mat-tab label="Hoa Hồng Trắng">
            <ng-template matTabContent></ng-template>
        </mat-tab>
        <mat-tab label="Hoa Dành Cho Gia Đình">
            <ng-template matTabContent></ng-template>
        </mat-tab>
        <mat-tab label="Hoa Sinh Nhật">
            <ng-template matTabContent></ng-template>
        </mat-tab>
        <mat-tab label="Hoa Khai Trương">
            <ng-template matTabContent></ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
