<div class="flex flex-col p-8 gap-8">
    <div class="font-sans text-2xl font-bold">Phân Loại</div>
    <form [formGroup]="filterFormGroups" class="flex gap-3 justify-start">
        <!-- Phân Loại -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="categoryType"
            aria-label="Danh mục"
        >
            {{ typeValue | categoryType: "Phân Loại" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #categoryType="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="type">
                @for (type of categoriesType; track type) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary':
                                type ===
                                this.filterFormGroups.get('type')?.value,
                            '!bg-white !border-slate-700':
                                type !==
                                this.filterFormGroups.get('type')?.value,
                        }"
                        [value]="type"
                        >{{ type | categoryType }}</mat-chip-option
                    >
                }
            </mat-chip-listbox>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="status"
            aria-label="Trạng thái"
        >
            {{
                this.filterFormGroups.get("enabled")?.value !== null
                    ? this.filterFormGroups.get("enabled")?.value === true
                        ? "Đang hoạt động"
                        : "Ngừng hoạt động"
                    : "Trạng thái"
            }}
            <mat-icon iconPositionEnd>arrow_drop_down> </mat-icon>
        </button>
        <mat-menu #status="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="enabled"
                ><mat-chip-option
                    class="!rounded-lg !border"
                    [ngClass]="{
                        '!bg-primary':
                            true ===
                            this.filterFormGroups.get('enabled')?.value,
                        '!bg-white !border-slate-700':
                            true !==
                            this.filterFormGroups.get('enabled')?.value,
                    }"
                    [value]="true"
                    >Đang hoạt động</mat-chip-option
                ><mat-chip-option
                    class="!rounded-lg !border"
                    [ngClass]="{
                        '!bg-primary':
                            false ===
                            this.filterFormGroups.get('enabled')?.value,
                        '!bg-white !border-slate-700':
                            false !==
                            this.filterFormGroups.get('enabled')?.value,
                    }"
                    [value]="false"
                    >Ngừng hoạt động</mat-chip-option
                ></mat-chip-listbox
            >
        </mat-menu>
        <button
            class="!rounded-lg !text-primary"
            mat-flat-button
            (click)="resetFilter()"
        >
            Reset Filter
        </button>
        <div class="ml-auto">
            <button
                class="!rounded-lg"
                mat-flat-button
                color="primary"
                (click)="onAddCategoryClicked()"
            >
                + Thêm Danh Mục Mới
            </button>
        </div>
    </form>
    <graceful-florist-table
        #categoriesTable
        (rowClicked)="openCategoryDetailModal($event)"
        [fetch]="fetchCategories"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="['name', 'type', 'enabled']"
    >
        <ng-template headerTableTemplate="name" let-column> Tên </ng-template>
        <ng-template cellTableTemplate="name" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="type" let-column>
            Phân Loại
        </ng-template>
        <ng-template cellTableTemplate="type" let-value>
            {{ value | categoryType }}
        </ng-template>

        <ng-template headerTableTemplate="enabled" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="enabled" let-value>
            {{ value ? "Đang hoạt động" : "Ngừng hoạt động" }}
        </ng-template>
    </graceful-florist-table>
</div>
