<mat-accordion>
    <mat-expansion-panel
        (opened)="panelOpenState.set(true)"
        (closed)="panelOpenState.set(false)"
    >
        <mat-expansion-panel-header>
            <mat-panel-title>{{ displaySelectedTime }}</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="flex flex-col justify-between gap-4 w-fit">
            <div class="flex flex-col gap-2">
                <mat-chip-listbox
                    aria-label="Color selection"
                    (change)="selectChip($event)"
                >
                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <ng-container *ngFor="let chip of availableTimeRange">
                            <mat-chip-option [color]="chip.color"
                                >{{ chip.name }}
                            </mat-chip-option>
                        </ng-container>
                    </div>
                </mat-chip-listbox>
                @if ("Tùy Chọn" === selectedChip) {
                    <div class="flex flex-col sm:flex-row gap-3 sm:gap-3">
                        <div class="w-full sm:w-1/2">
                            <mat-form-field
                                class="w-full"
                                appearance="fill"
                                subscriptSizing="dynamic"
                            >
                                <mat-label>Giờ</mat-label>
                                <mat-select
                                    [(value)]="selectedHour"
                                    (selectionChange)="selectHour($event)"
                                >
                                    <ng-container *ngFor="let hour of hours">
                                        <mat-option [value]="hour">{{
                                            hour
                                        }}</mat-option>
                                    </ng-container>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="w-full sm:w-1/2">
                            <mat-form-field
                                class="w-full"
                                appearance="fill"
                                subscriptSizing="dynamic"
                            >
                                <mat-label>Phút</mat-label>
                                <mat-select
                                    [(value)]="selectedMinute"
                                    (selectionChange)="selectMinute($event)"
                                >
                                    @for (minute of minutes; track minute) {
                                        <mat-option [value]="minute">{{
                                            minute
                                        }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                }
            </div>
            <p>
                Dịch vụ theo lịch trình: phụ thu thêm 40.000 VNĐ, thời gian vận
                chuyển sai số từ 15-20 phút
            </p>
            <button
                type="button"
                mat-flat-button
                color="primary"
                (click)="closePanel()"
            >
                Xác Nhận
            </button>
        </div>
    </mat-expansion-panel>
</mat-accordion>
