<div class="p-4 w-full h-full rounded-xl bg-white flex flex-col items-stretch">
    <div class="flex justify-between items-center gap-1">
        <div class="font-sans text-base font-semibold">{{ title }}</div>
        @if (icon) {
            <svg-icon [src]="icon"></svg-icon>
        }
    </div>
    <div class="font-sans text-3xl font-bold">{{ value }}</div>
    <div class="flex gap-1">
        @if (percentageChange && percentageChange > 0) {
            <mat-icon class="text-emerald-500">trending_up</mat-icon>
            <div class="font-sans text-base font-semibold text-emerald-500">
                {{ percentageChange }}%
            </div>
        } @else {
            <div class="font-sans text-base font-semibold text-primary">
                {{ percentageChange }}%
            </div>
            <mat-icon class="text-primary">trending_down</mat-icon>
        }
        <div class="font-sans text-base font-semibold">
            {{ changeDescription }}
        </div>
    </div>
</div>
