<div class="dialog-container">
    <h2 class="dialog-title" mat-dialog-title data-testid="dialog-title">
        {{ title | translate }}
    </h2>
    <mat-dialog-content>
        <ng-content select="[body]" data-testid="dialog-body"></ng-content>
    </mat-dialog-content>
    <mat-dialog-actions
        *ngIf="!customFooter"
        data-testid="dialog-actions-default"
    >
        <div class="col button-wrapper button-bar justify-content-end">
            <button
                mat-button
                data-testid="close-button"
                [disabled]="disableSecondaryButton"
                *ngIf="!hideSecondaryButton"
                type="button"
                class="btn modal-action"
                (click)="close()"
            >
                <span>{{ closeBtnLbl | translate }}</span>
            </button>
            <button
                mat-button
                *ngIf="!hideDeleteButton"
                type="button"
                class="btn modal-action"
                (click)="delete()"
                data-testid="delete-button"
            >
                <span>{{ deleteBtnLbl | translate }}</span>
            </button>
            <button
                mat-button
                *ngIf="!hidePrimaryButton"
                type="submit"
                class="btn modal-action submit-btn {{ primaryBtnClass }}"
                (click)="save()"
                [disabled]="disableSubmitBtn || disablePrimaryButton"
                cdkFocusInitial
                data-testid="save-button"
            >
                <span class="btn-text">{{ saveBtnLbl | translate }}</span>
            </button>
        </div>
    </mat-dialog-actions>
    <mat-dialog-actions
        *ngIf="customFooter"
        data-testid="dialog-actions-custom"
    >
        <ng-content
            select="[customFooter]"
            data-testid="custom-footer"
        ></ng-content>
    </mat-dialog-actions>
</div>
