.input-typo {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.14px;
}

.label-typo {
  color: #4f566b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.18px;
}

.mat-mdc-row .mat-mdc-cell {
  padding: 8px 0;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #f5f5f5;
}
