<div class="container mx-auto flex flex-col gap-6 py-6" [formGroup]="form">
    <graceful-florist-breadcrumb [breadcrumbs]="breadcrumbs" />
    <graceful-florist-tab-category />
    <!-- Tông màu chủ đạo -->
    <div class="flex flex-col bg-white gap-2 py-3 px-4 rounded-lg">
        <div class="font-sans text-2xl font-semibold leading-normal">
            Tông màu chủ đạo
        </div>
        <div class="flex flex-col sm:flex-row gap-2.5">
            <button
                *ngFor="let item of mainColors"
                (click)="selectColor(item.color)"
                [ngClass]="{
                    '': form.get('selectedMainColor')?.value === item.color,
                }"
                class="flex items-center p-2 gap-2 border-slate-500 border"
                style="border-radius: 32px"
            >
                <svg-icon
                    [src]="'assets/circle-' + item.color + '.svg'"
                ></svg-icon>
                <span class="font-sans text-base leading-normal">{{
                    item.label
                }}</span>
            </button>
        </div>
    </div>
    <!-- Loại hoa -->
    <div class="flex flex-col sm:flex-row gap-2.5">
        <div class="flex flex-col w-full px-4 py-3 gap-4 bg-white rounded-lg">
            <div class="flex items-center">
                <mat-checkbox
                    [checked]="
                        selectedFlowersToBeRemovedFromForm.length > 0 &&
                        selectedFlowersToBeRemovedFromForm.length ===
                            selectedFlowers.length
                    "
                    (change)="onSelectAllFlowers($event.checked)"
                    class=""
                    color="primary"
                ></mat-checkbox>
                <div
                    class="px-6 py-2 font-sans text-2xl font-semibold leading-normal"
                >
                    Hoa đã chọn ({{
                        selectedFlowersToBeRemovedFromForm.length
                    }})
                </div>
                <button
                    (click)="removeAllFlowers()"
                    *ngIf="selectedFlowersToBeRemovedFromForm.length > 0"
                    mat-flat-button
                    color="primary"
                >
                    Xóa hết các lựa chọn
                </button>
            </div>
            <ng-container
                *ngIf="selectedFlowers.length; else noSelectedFlowers"
            >
                <div
                    *ngFor="
                        let flower of selectedFlowers.controls;
                        let i = index
                    "
                    class="flex py-4 px-6 gap-6 items-center"
                >
                    <mat-checkbox
                        [checked]="isSelectedInFlowerList(flower)"
                        (change)="onSelectFlower(flower, $event.checked)"
                        class=""
                        color="primary"
                    ></mat-checkbox>
                    <div class="flex gap-4 items-center">
                        <img
                            class="w-24 h-24 object-cover"
                            [src]="flower.value.image"
                            [alt]="flower.value.name"
                        />
                        <div class="flex gap-7 items-center">
                            <div class="flex flex-col">
                                <div class="font-sans text-lg font-medium">
                                    {{ flower.value.name }}
                                </div>
                                <div class="font-sans text-base font-normal">
                                    {{ flower.value.detail }}
                                </div>
                            </div>
                            <div class="flex gap-1.5 items-center">
                                <graceful-florist-counter
                                    [count]="1"
                                ></graceful-florist-counter>
                                <button
                                    mat-icon-button
                                    color="primary"
                                    (click)="removeFlower(i)"
                                >
                                    <mat-icon>delete_forever</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div
            class="flex flex-col min-w-fit px-4 py-3 bg-white rounded-lg gap-4"
        >
            <div
                class="px-6 py-2 font-sans text-2xl font-semibold leading-normal"
            >
                Loại hoa
            </div>
            <div class="grid grid-cols-2 gap-6 py-4 px-6">
                <div
                    *ngFor="let flower of flowers"
                    class="flex flex-col items-center"
                    (click)="selectFlower(flower)"
                >
                    <img
                        [ngClass]="{
                            'border-4 border-primary': isSelectedFlower(flower),
                        }"
                        src="{{ flower.image }}"
                        alt="{{ flower.name }}"
                        class="object-cover rounded-full"
                        style="width: 60px; height: 60px"
                    />
                    <div
                        class="font-sans text-xs font-bold leading-normal whitespace-nowrap"
                    >
                        {{ flower.name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row gap-8">
        <!-- Phong cách bố cục -->
        <div
            class="flex flex-col w-full sm:w-1/2 px-4 py-3 bg-white rounded-lg gap-5"
        >
            <div
                class="px-6 py-2 font-sans text-2xl font-semibold leading-normal"
            >
                Phong cách bố cục
            </div>
            <mat-radio-group
                class="grid grid-cols-3 gap-10"
                formControlName="selectedLayoutStyle"
            >
                <div *ngFor="let item of layoutStyles">
                    <ng-container
                        *ngTemplateOutlet="
                            flowerRadioCardTemplate;
                            context: { item, group: 'layoutStyles' }
                        "
                    ></ng-container>
                </div>
            </mat-radio-group>
        </div>
        <!-- Hoa phụ và lá xanh  -->
        <div
            class="flex flex-col w-full sm:w-1/2 px-4 py-3 bg-white rounded-lg gap-5"
        >
            <div
                class="px-6 py-2 font-sans text-2xl font-semibold leading-normal"
            >
                Hoa phụ và lá xanh
            </div>
            <mat-radio-group
                class="grid grid-cols-3 gap-10"
                formControlName="selectedFlowerAndGreenLeaf"
            >
                <div *ngFor="let item of flowersAndGreenLeaves">
                    <ng-container
                        *ngTemplateOutlet="
                            flowerRadioCardTemplate;
                            context: { item, group: 'flowersAndGreenLeaves' }
                        "
                    ></ng-container>
                </div>
            </mat-radio-group>
        </div>
    </div>
    <!-- Thẻ và lời nhắn -->
    <div class="flex flex-col bg-white gap-5 py-8 px-6 rounded-lg">
        <div class="font-sans text-2xl font-semibold leading-loose">
            Thẻ và lời nhắn
        </div>
        <div class="flex flex-col sm:flex-row gap-8">
            <div class="flex flex-col gap-8 w-full sm:w-1/2">
                <mat-radio-group
                    class="flex flex-col sm:flex-row gap-8"
                    aria-label="Lời nhắn"
                    formControlName="selectedMessageCard"
                >
                    <mat-radio-button
                        *ngFor="let option of messageCardOptions"
                        color="primary"
                        [value]="option.value"
                    >
                        <div
                            class="font-base text-xs font-normal capitalize"
                            [ngClass]="{
                                'text-primary':
                                    form.get('selectedMessageCard')?.value ===
                                    option.value,
                            }"
                        >
                            {{ option.label }}
                        </div>
                    </mat-radio-button>
                </mat-radio-group>
                <div
                    class="*:text-sm *:font-sans *:font-normal *:text-neutral-400 *:leading-relaxed"
                >
                    <p>Phù hợp cho: Sinh nhật, ngày lễ, sự kiện đặc biệt.</p>
                    <p>Ví dụ:</p>
                    <ul class="list-inside flex flex-col gap-5">
                        <li class="list-disc">
                            Chúc mừng sinh nhật [Tên người nhận]! Chúc bạn luôn
                            vui vẻ, hạnh phúc và thành công trong cuộc sống.
                        </li>
                        <li class="list-disc">
                            Chúc mừng [Tên người nhận] ngày [Tên ngày lễ]! Chúc
                            bạn có một ngày thật ý nghĩa bên gia đình và bạn bè.
                        </li>
                        <li class="list-disc">
                            Chúc mừng [Tên người nhận] [Sự kiện đặc biệt]! Chúc
                            bạn luôn gặt hái được nhiều thành công trong tương
                            lai.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-ful sm:w-1/2 flex items-center">
                <mat-form-field class="mx-auto h-44 w-full *:!bg-transparent">
                    <mat-label class="!font-sans">Lời nhắn</mat-label>
                    <textarea
                        class="!font-sans"
                        formControlName="message"
                        placeholder="Thêm lời nhắn vào thiệp"
                        rows="4"
                        cols="50"
                        matInput
                    ></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
    <!-- Giấy gói -->
    <!-- Chọn kiểu nơ -->
</div>
<ng-template #noSelectedFlowers>
    <div class="mx-auto flex flex-col gap-4 items-center">
        <img
            class="w-64 h-64 object-cover"
            src="assets/no-flowers-selected.png"
            alt="no-flowers-selected"
        />
        <div class="font-sans text-2xl leading-normal font-bold">
            Hãy lựa chọn loại hoa bạn mong muốn !
        </div>
    </div>
</ng-template>
<ng-template #flowerRadioCardTemplate let-item="item" let-group="group">
    <label
        class="flex flex-col items-center justify-start gap-5"
        (click)="selectRadioButton(item.name, group)"
    >
        <img
            class="object-cover w-24 h-24"
            [src]="item.image"
            [alt]="item.name"
        />
        <mat-radio-button color="primary" [name]="group" [value]="item.name">{{
            item.name
        }}</mat-radio-button>
    </label>
</ng-template>
