<div class="flex flex-col p-8 gap-8">
    <div class="font-sans text-2xl font-bold">Đơn chờ xử lý</div>
    <form [formGroup]="filterFormGroups" class="flex gap-3 justify-start">
        <!-- Ngày -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="date"
            aria-label="Ngày"
        >
            {{ dateTypeFilterLabel }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #date="matMenu" class="!min-w-96">
            <mat-radio-group
                formControlName="dateType"
                class="w-full flex justify-between px-4"
            >
                <mat-radio-button value="newest">Gần Nhất</mat-radio-button>
                <mat-radio-button value="oldest">Cũ nhất</mat-radio-button>
                <mat-radio-button
                    value="optional"
                    (click)="$event.stopPropagation()"
                    >Tùy Chọn</mat-radio-button
                >
            </mat-radio-group>
            <ng-container
                *ngIf="filterFormGroups.get('dateType')?.value === 'optional'"
            >
                <mat-card
                    class="min-w-max !shadow-none"
                    (click)="$event.stopPropagation()"
                >
                    <mat-calendar
                        [selected]="filterFormGroups.get('optionalDate')?.value"
                        (selectedChange)="onSelectedDateFilterChanged($event)"
                    ></mat-calendar>
                </mat-card>
                <div class="min-w-max flex justify-center">
                    <button class="mx-auto" mat-flat-button color="primary">
                        Áp dụng
                    </button>
                </div>
            </ng-container>
        </mat-menu>
        <!-- Danh mục -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="category"
            aria-label="Danh mục"
        >
            Danh mục
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #category="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <!-- Trạng thái -->
        <button
            class="!rounded-lg"
            mat-flat-button
            [matMenuTriggerFor]="status"
            aria-label="Trạng thái"
        >
            {{ statusFilterLabel | orderStatus: "Trạng thái" }}
            <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #status="matMenu">
            <mat-chip-listbox class="mx-3" formControlName="status">
                @for (status of orderStatus; track status) {
                    <mat-chip-option
                        class="!rounded-lg !border"
                        [ngClass]="{
                            '!bg-primary':
                                status ===
                                this.filterFormGroups.get('status')?.value,
                            '!bg-white !border-slate-700':
                                status !==
                                this.filterFormGroups.get('status')?.value,
                        }"
                        [value]="status"
                        >{{ status | orderStatus }}</mat-chip-option
                    >
                }
            </mat-chip-listbox>
        </mat-menu>
        <button
            class="!rounded-lg !text-primary"
            mat-flat-button
            (click)="resetFilter()"
        >
            Reset Filter
        </button>
    </form>
    <graceful-florist-table
        #pendingOrdersTable
        [fetch]="fetchProduct"
        [sort]="sort"
        [criteria]="criteria"
        [displayedColumns]="[
            'id',
            'recipientName',
            'recipientAddress',
            'createdDate',
            'type',
            'status',
            'actions',
        ]"
    >
        <ng-template headerTableTemplate="id" let-column>
            Mã đơn hàng
        </ng-template>
        <ng-template cellTableTemplate="id" let-value>
            <div class="font-sans" (click)="navigateToOrderDetail(value)">
                #{{ getProductId(value) }}
            </div>
        </ng-template>

        <ng-template headerTableTemplate="recipientName" let-column>
            Tên khách hàng
        </ng-template>
        <ng-template cellTableTemplate="recipientName" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="recipientAddress" let-column>
            Địa chỉ
        </ng-template>
        <ng-template cellTableTemplate="recipientAddress" let-value>
            {{ value }}
        </ng-template>

        <ng-template headerTableTemplate="createdDate" let-column>
            Ngày đặt
        </ng-template>
        <ng-template cellTableTemplate="createdDate" let-value>
            {{ value | date: "dd/MM/yyyy" }}
        </ng-template>

        <ng-template headerTableTemplate="type" let-column>
            Loại đơn
        </ng-template>
        <ng-template cellTableTemplate="type" let-value>
            {{ value | orderType }}
        </ng-template>

        <ng-template headerTableTemplate="status" let-column>
            Trạng thái
        </ng-template>
        <ng-template cellTableTemplate="status" let-value>
            {{ value | orderStatus }}
        </ng-template>

        <ng-template headerTableTemplate="actions" let-column> </ng-template>
        <ng-template cellTableTemplate="actions" let-element="element">
            <button mat-stroked-button (click)="receiveOrder(element)">
                Nhận đơn
            </button>
        </ng-template>
    </graceful-florist-table>
</div>
